---
title: Main
layout: page
---




<ul>
{% for control in site.controls %}

  <li><a href='{{ control.url }}'>{{ control.name }}</a></li>

{% endfor %}

</ul>

<!-- 
  <h2>{{ control.name }}</h2>
  {{ control.url }}
  <p>Performed by {{ control.type }}


    {% if control.director %}, directed by {{ control.director }}{% endif %}</p>

  {% for work in album.works %}
    <h3>{{ work.title }}</h3>
    <p>Composed by {{ work.composer }}</p>
    <ul>
    {% for track in work.tracks %}
      <li>{{ track.title }} ({{ track.duration }})</li>
    {% endfor %}
    </ul>
  {% endfor %}

