
<h3 id='{{ property.key }}'>{{ property.title }}</h3>

<ul class='propertyList'>
<li><span class='propertyTitle'>Key:</span><code>{{ property.key }}</code></li>
<li><span class='propertyTitle'>Type:</span><code>{{ property.type }}</code></li>
{% if property.default %}<li><span class='propertyTitle'>Default Value:</span><code>{{ property.default }}</code></li>{% endif %}
{% if property.required %}<li><span class='propertyTitle'>Required</span></li>{% endif %}
</ul>

{{ property.description }}

{% if property.markdown %}
{% capture description %}
{% include_relative properties/{{property.key}}.md %}
{% endcapture %}
{{ description | markdownify }}
{% endif %}


{% if property.generic-markdown %}
{% capture description %}
{% include property-{{property.key}}.md %}
{% endcapture %}
{{ description | markdownify }}
{% endif %}


<br>
<br>
<hr>
