---
layout: default
---


<header>
{% include sidebar-title.html %}

<h3>{{ page.name }} &mdash; <code>{{page.type}}</code></h3>
<ul>
{% for property in page.properties %}
<li>
	<a href='#{{ property.key }}'>{{ property.title }}</a>
	<a href='#{{ property.key }}'><code>{{ property.key }}</code></a></li>
{% endfor %}
</ul>
</header>

<section>
 


<h2>{{ page.name }} &mdash; <code>{{page.type}}</code></h2>
<h3>Overview</h3>

<ul class='propertyList'>
<li><span class='propertyTitle'>Type:</span><code>{{ page.type }}</code></li>
<li><span class='propertyTitle'>Output Value:</span><code>{{ page.value }}</code></li>
</ul>

{{ content }}

{% if page.available %}<h5><i>Available: Stacks API v{{ page.available }}</i></h5>{% endif %}

<hr>




{% for property in page.properties %}

<h3 id='{{ property.key }}'>{{ property.title }}</h3>

<ul class='propertyList'>
<li><span class='propertyTitle'>Key:</span><code>{{ property.key }}</code></li>
<li><span class='propertyTitle'>Type:</span><code>{{ property.type }}</code></li>
{% if property.default %}<li><span class='propertyTitle'>Default Value:</span><code>{{ property.default }}</code></li>{% endif %}
{% if property.required %}<li><span class='propertyTitle'>Required</span></li>{% endif %}
</ul>

{{ property.description }}


{% if property.markdown %}
{% capture description %}
{% include_relative properties/{{property.key}}.md %}
{% endcapture %}
{{ description | markdownify }}
{% endif %}


{% if property.generic-markdown %}
{% capture description %}
{% include property-{{property.key}}.md %}
{% endcapture %}
{{ description | markdownify }}
{% endif %}



<br>
<br>
<hr>

{% endfor %}

</section>