<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>


    <div class="container content">
      <footer class="footer">
        <small>
        </small>
      </footer>
    </div>






 <div class="wrapper">


      <header>
        <h1><a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a></h1>
        <p>{{ site.tagline }}</p>
        <hr>
        {{ sit.pages }}
      </header>


      <section>
         {{ content }}
      </section>


      <footer>
                  &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. YourHead Software all rights reserved.

    
      </footer>



    </div>
    <script src="javascripts/scale.fix.js"></script>


  </body>
</html>
