---
layout: default
---



<div class='fixed'>
<div class='row'>
	<header>
		{% include sidebar.html %}
	</header>
</div>
</div>


<div class='row'>
	<section>
		{% if page.page_icon == 'stack' %}<img class="page-icon" src="{% include docs-root.html %}/assets/images/stack-api-icon-128.png" width="128" height="128" alt="">{% endif %}
		{% if page.page_icon == 'theme' %}<img class="page-icon" src="{% include docs-root.html %}/assets/images/theme-api-icon-128.png" width="128" height="128" alt="">{% endif %}
		<h2>{{ page.title}}</h2>
		{{ content }}
	</section>
</div>
