---
layout: default
---









<div class='fixed'>
<div class='row'>
	<header>
{% include sidebar-top.html %}

<h3>{{ page.name }}</h3>
<code>{{ page.syntax }}</code></h3>
<br>
<br>
{% include sidebar-bottom.html %}
</header>
</div>
</div>


<div class='row'>
	<section>
<h2>{{ page.name }}</h2>
<code>{{ page.syntax }}</code></h3>
<br>
<br>
 


{% if page.available %}
	{% if page.available == 7 %}
		<h5 class='new'><i>Available: Stacks API v{{ page.available }}</i></h5>
	{% else %}
		<h5><i>Available: Stacks API v{{ page.available }}</i></h5>
	{% endif %}
{% endif %}

{{ content }}
</section>

</div>
